@property --property-name {
  syntax: "<color>";
  inherits: false;
  initial-value: #c0ffee;
}

@keyframes flip-x-anim {
  from {
    transform: rotateX(0);
  }

  99% {
    transform: rotateX(180deg);
  }

  99.1% {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
